<configuration>
    <springProfile name="default,d,dev,develop,development">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
    <springProfile name="kubernetes,performance">
        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdc>true</includeMdc>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="jsonConsoleAppender"/>
        </root>
    </springProfile>
</configuration>