<template x-component="primary-button">
    <button x-data="{
                type: $el.parentNode?.getAttribute('type') || 'button',
                text: $el.parentNode?.getAttribute('text') || $el.parentNode?.getAttribute('data-text') || 'Button',
                classes: $el.parentNode?.getAttribute('classes') || '',
                init() {
                    if (typeof this.disabled === 'undefined') {
                        this.disabled = false;
                    }
                }
            }"
            :type="type"
            x-text="text"
            :disabled="disabled"
            class="rounded-md h-10 w-full mr-2 hover:shadow-lg duration-300 disabled:hover:shadow-none disabled:cursor-not-allowed"
            :class="[
                $store?.profile?.dark ? 'bg-login-blue text-white disabled:bg-gray-400' : 'bg-login-blue text-white disabled:bg-gray-300',
                classes
            ]"
    >
    </button>
</template>