<template x-component="password-field">
    <div x-data="() => ({
                id: $el.parentNode?.getAttribute('id') || '',
                name: $el.parentNode?.getAttribute('name') || '',
                label: $el.parentNode?.getAttribute('label') || '',
                placeholder: $el.parentNode?.getAttribute('placeholder') || 'Enter password',
                pattern: $el.parentNode?.getAttribute('pattern') || '.*',
                classes: $el.parentNode?.getAttribute('classes') || '',
                value: $el.parentElement?._x_model?.get('value') || $el.parentNode?.getAttribute('value') || '',
                type: 'password',
                show: false,
                toggle() {
                    this.show = !this.show;
                    this.type = this.show ? 'text' : 'password';
                },
            })"
            x-modelable="value"
            :class="classes"
    >
        <x-label :for="id" :text="label"></x-label>
        <div class="relative">
            <x-input
                    :id="id"
                    :name="name"
                    :placeholder="placeholder"
                    :pattern="pattern"
                    :value="value"
                    :type="type"
                    classes="pr-10 w-full font-sans"
                    x-model="value"
            ></x-input>
            <button
                    type="button"
                    class="absolute inset-y-0 right-0 flex items-center pl-3 px-3 focus:outline-none"
                    @click="toggle"
            >
                <span x-show="show">
                    <div th:replace="~{atoms/logo/svg/eye}"></div>
                </span>
                <span x-show="!show">
                    <div th:replace="~{atoms/logo/svg/ceye}"></div>
                </span>
            </button>
        </div>
    </div>
</template>