<template x-component="configuration-information">
    <div class="flex flex-col items-stretch max-w-[496px]">
        <div class="mt-0 mb-8 relative w-[386px] max-w-full">
            <div th:replace="~{atoms/logo/svg/horizontal}"></div>
        </div>
        <div class="w-full">
            <div class="flex items-center gap-2 flex-wrap">
                <div class="w-4 flex-shrink-0">
                    <div th:replace="~{atoms/logo/svg/info}"></div>
                </div>
                <p th:text="${page?.data?.information?.csp} ?: 'Check the CSP settings'"
                   class="flex-1 text-[16px] leading-[1.38] font-semibold"
                   :class="[
                        $store?.profile?.dark ? 'text-white' : ''
                   ]"
                ></p>
            </div>
            <div class="mt-2 text-[13px] leading-[20px]">
                <div>
                    <span
                            th:text="${page?.data?.information?.credentialsFirst}"
                            class="font-normal"
                            :class="[
                                $store?.profile?.dark ? 'text-white' : ''
                            ]"
                    ></span>
                    <span
                            th:text="${page?.data?.information?.credentialsPath}"
                            class="font-bold"
                            :class="[
                                $store?.profile?.dark ? 'text-white': ''
                            ]"
                    >
                    </span>
                    <span
                            th:text="${page?.data?.information?.credentialsSecond}"
                            class="font-normal"
                            :class="[
                                $store?.profile?.dark ? 'text-white' : ''
                            ]"
                    ></span>
                </div>
                <br/><br/>
                <div>
                    <span
                            th:text="${page?.data?.information?.monday} ?: 'Monday portal address:'"
                            class="font-bold"
                            :class="[
                                $store?.profile?.dark ? 'text-white' : ''
                            ]"
                    ></span>
                    <span
                            th:text="${page?.data?.information?.mondayAddress} ?: 'monday.onlyoffice.com'"
                            class="font-bold text-[#4781D1]"
                    ></span>
                </div>
                <div class="mt-1">
                    <span
                            th:text="${page?.data?.information?.app} ?: 'ONLYOFFICE DocSpace app:'"
                            class="font-bold"
                            :class="[
                                $store?.profile?.dark ? 'text-white' : ''
                            ]"
                    ></span>
                    <span
                            th:text="${page?.data?.information?.appAddress} ?: 'monday.onlyoffice.com'"
                            class="font-bold text-[#4781D1]"
                    ></span>
                </div>
            </div>
        </div>
    </div>
</template>