<div class="flex justify-center items-center flex-col h-full">
    <div>
        <div th:replace="~{atoms/text/bold}"></div>
        <div th:replace="~{atoms/text/generic}"></div>

        <div th:replace="~{molecules/text/error}"></div>
    </div>
    <script>
        function roomErrorData() {
            return {
                socketHandler: async (evt) => {
                    try {
                        const refresh = '[[${page?.data?.refresh}]]';
                        const { boardId } = (await mondaySdk().get("context")).data;
                        const msg = JSON.parse(evt.detail.message);
                        if (msg && msg['board_id'] == boardId)
                            htmx.ajax('GET', `${refresh}?boardId=${boardId}`, { target: '#content', swap: 'innerHTML' });
                    } catch(err) {
                        console.error(err);
                    }
                },
                async init() {
                    Alpine.store('htmxEventManager').addNamedListener("autoRefresher", "htmx:wsBeforeMessage", this.socketHandler);
                },
            }
        }
    </script>
    <template x-data="roomErrorData"></template>
    <div th:replace="~{atoms/logo/svg/horizontal}">
    </div>
    <div class="mt-5"
         th:insert="~{atoms/logo/svg/ant}"
    ></div>
    <x-error-text
        th:header="${page?.data?.error?.header}"
        th:subtext="${page?.data?.error?.subtext}"
        classes="mt-10"
    ></x-error-text>
</div>