<div class="flex justify-center items-center flex-col h-full">
    <div>
        <div th:replace="~{atoms/text/bold}"></div>
        <div th:replace="~{atoms/text/generic}"></div>

        <div th:replace="~{molecules/text/error}"></div>
    </div>
    <script>
        function roomErrorData() {
            return {
                socketHandler: async (evt) => {
                    try {
                        const refresh = '[[${page?.data?.refresh}]]';
                        const { boardId } = (await mondaySdk().get("context")).data;
                        const msg = JSON.parse(evt.detail.message);
                        if (msg && msg['board_id'] == boardId)
                            htmx.ajax('GET', `${refresh}?boardId=${boardId}`, { target: '#content', swap: 'innerHTML' });
                    } catch(err) {
                        console.error(err);
                    }
                },
                async init() {
                    htmx.on('htmx:wsBeforeMessage', this.socketHandler);
                    htmx.on('htmx:beforeSwap', (evt) => {
                        htmx.off('htmx:wsBeforeMessage', this.socketHandler);
                    });
                },
            }
        }
    </script>
    <template x-data="roomErrorData"></template>
    <div th:replace="~{atoms/logo/svg/ant}"></div>
    <x-error-text
        th:header="${page?.data?.error?.header} ?: 'Not Found'"
        th:subtext="${page?.data?.error?.subtext} ?: 'The required room was not found. Please check if the room still exists or contact the administrator.'"
    ></x-error-text>
</div>