<div th:fragment="error()"
     class="flex justify-center items-center flex-col h-full"
>
    <div>
        <div th:replace="~{atoms/text/bold}"></div>
        <div th:replace="~{atoms/text/generic}"></div>

        <div th:replace="~{molecules/text/error}"></div>
    </div>
    <div th:replace="~{atoms/logo/svg/hedgehog}"></div>
    <x-error-text
        th:header="${page?.data?.error?.header} ?: 'Server side error'"
        th:subtext="${page?.data?.error?.subtext} ?: 'There is a server side issue. Please contact the administrator'"
    ></x-error-text>
</div>