<div th:fragment="error()"
     class="flex justify-center items-center flex-col h-full"
>
    <div>
        <div th:replace="~{atoms/text/bold}"></div>
        <div th:replace="~{atoms/text/generic}"></div>

        <div th:replace="~{molecules/text/error}"></div>
    </div>
    <div th:replace="~{atoms/logo/svg/horizontal}">
    </div>
    <div class="mt-5"
         th:insert="~{atoms/logo/svg/hedgehog}">
    </div>
    <x-error-text
        th:header="${page?.data?.error?.header}"
        th:subtext="${page?.data?.error?.subtext}"
        classes="mt-10"
    ></x-error-text>
</div>