<div>
    <div>
        <div th:replace="~{atoms/input/base}"></div>
        <div th:replace="~{atoms/input/label}"></div>
        <div th:replace="~{atoms/button/secondary}"></div>
        <div th:replace="~{atoms/loader/spinner}"></div>

        <div th:replace="~{molecules/button/loader}"></div>
        <div th:replace="~{molecules/input/password}"></div>
        <div th:replace="~{molecules/input/text}"></div>

        <div th:replace="~{organisms/form/common}"></div>
        <div th:replace="~{organisms/form/login}"></div>
        <div th:replace="~{organisms/form/settings}"></div>
        <div th:replace="~{organisms/information/configuration}"></div>
    </div>
    <script>
        function configureAdminData() {
            return {
                admin: true,
                login: false,
                change: false,
                path: '/api/1.0/settings',
                disabled: false,
                loading: false,
                url: "",
                lastUrl: "",
                email: "",
                password: "",
                error: false,
                setError() {
                    this.error = true;
                    this.loading = false;
                    this.disabled = false;
                },
                toggleSubmit() {
                    this.disabled = true;
                    this.loading = true;
                },
                socketHandler: async (evt) => {
                    try {
                        const monday = mondaySdk();
                        const data = (await monday.get("context")).data;
                        const msg = JSON.parse(evt.detail.message);
                        if (msg && msg['tenant_id'] == data?.account?.id)
                            htmx.ajax('GET', `/views/refresh?boardId=${data?.boardId}`, { target: '#content', swap: 'innerHTML' });
                    } catch (err) {
                        console.log(err);
                    }
                },
                async processLogin(evt, url, email, password) {
                    try {
                        const monday = mondaySdk();
                        const { boardId } = (await monday.get("context")).data;
                        const settings = await DocSpace.SDK.frames['ds-frame'].getHashSettings();
                        const hash = await DocSpace.SDK.frames['ds-frame'].createHash(password, settings);
                        const login = await DocSpace.SDK.frames['ds-frame'].login(email, hash);
                        const me = await DocSpace.SDK.frames['ds-frame'].getUserInfo();

                        if (login && login.url) {
                            const response = await fetch(this.path, {
                                method: 'POST',
                                body: JSON.stringify({
                                    "docspace_user_id": me.id,
                                    "docspace_url": url,
                                    "docspace_email": email,
                                    "docspace_hash": hash,
                                }),
                                headers: {
                                    ...evt.detail.requestConfig.headers,
                                    'Content-Type': 'application/json',
                                },
                            });

                            if (!response.ok) {
                                this.setError();
                                await monday.execute("notice", {
                                    message: '[[${page?.data?.login?.error ?: "Login failed"}]]',
                                    type: "error",
                                    timeout: 10000,
                                });
                            } else {
                                await monday.execute("notice", {
                                    message: '[[${page?.data?.login?.success ?: "Login successful"}]]',
                                    type: "success",
                                    timeout: 10000,
                                });
                                htmx.ajax('GET', `/views/refresh?boardId=${boardId}`, { target: '#content', swap: 'innerHTML' });
                            }
                        } else {
                            this.setError();
                        }
                    } catch (error) {
                        this.setError();
                    }
                },
                async init() {
                    Alpine.store('htmxEventManager').addListener("htmx:wsBeforeMessage", this.socketHandler);
                    Alpine.store('htmxEventManager').addListener('htmx:beforeRequest', async (evt) => {
                        if (evt.detail.pathInfo.finalRequestPath !== this.path) {
                            return;
                        }

                        evt.preventDefault();
                        try {
                            if (this.url && this.url != this.lastUrl) {
                                const timeout = setTimeout(() => this.setError(), 6500);
                                window.DocSpace.SDK.initSystem({
                                    src: this.url,
                                    frameId: 'ds-frame',
                                    events: {
                                        onAppReady: async () => {
                                            try {
                                                clearTimeout(timeout);
                                                this.lastUrl = this.url;
                                                await this.processLogin(evt, this.url, this.email, this.password);
                                            } catch (error) {
                                                this.setError();
                                            }
                                        },
                                        onAppError: (error) => this.setError(),
                                    },
                                });
                            } else {
                                await this.processLogin(evt, this.url, this.email, this.password);
                            }
                        } catch (error) {
                            this.setError();
                        }
                    });
                    Alpine.store('htmxEventManager').addListener('htmx:afterSwap', (evt) => {
                        Alpine.store('htmxEventManager').removeAllListeners();
                    });
                },
            };
        }
    </script>
    <main x-data="configureAdminData" class="flex flex-col justify-center items-center min-h-screen overflow-hidden p-4 sm:p-8" role="main">
        <div style="display: none;">
            <div id="ds-frame"></div>
        </div>
        <div class="flex flex-col md:flex-row justify-center items-center md:items-start space-y-8 md:space-y-0 md:space-x-8 w-full max-w-7xl">
            <div class="w-full md:max-w-lg">
                <x-configuration-information class="w-full" style="display: flex; justify-content: center;"></x-configuration-information>
            </div>
            <form class="p-6 md:p-8 rounded-lg shadow-lg w-[384px] flex-shrink-0"
                  :class="[
                      $store?.profile?.dark ? 'bg-background-dark' : 'bg-white'
                  ]"
                  @submit="toggleSubmit"
                  :hx-post="path"
                  hx-swap="none"
                  hx-trigger="submit"
            >
                <x-docspace-settings-form></x-docspace-settings-form>
            </form>
        </div>
    </main>
</div>
