<div>
    <div>
        <div th:replace="~{atoms/loader/spinner}"></div>
        <div th:replace="~{atoms/text/bold}"></div>
        <div th:replace="~{atoms/text/generic}"></div>

        <div th:replace="~{molecules/button/loader}"></div>
    </div>
    <script>
        function createRoomData() {
            return {
                url: '[[${page?.data?.login?.url}]]',
                roomsQuotaError: '[[${page?.data?.roomsQuotaError}]]',
                timeoutError: '[[${page?.data?.timeoutError}]]',
                operationError: '[[${page?.data?.operationError}]]',
                cspError: '[[${page?.data?.login?.cspError}]]',
                loading: false,
                disabled: false,
                onAppReadyProcessed: false,
                disable() {
                    this.disabled = true;
                    this.loading = true;
                },
                enable() {
                    this.loading = false;
                    this.disabled = false;
                },
                createRoom() {
                    this.disable();
                    const monday = mondaySdk();
                    const frame = window.DocSpace.SDK.initManager({
                        src: this.url,
                        frameId: 'ds-frame',
                        events: {
                            onAppReady: async () => {
                                if (this.onAppReadyProcessed) return;
                                this.onAppReadyProcessed = true;
                                const context = await monday.get("context");
                                const docSpace = DocSpace.SDK.frames['ds-frame'];
                                const boardResponse = await monday.api(`
                                    query {
                                        boards(ids: ${context.data.boardId}) {
                                            name
                                            subscribers {
                                              id
                                              is_guest
                                              is_view_only
                                            }
                                        }
                                    }
                                `);

                                const board = boardResponse?.data?.boards?.[0];
                                if (!board) {
                                    this.enable();
                                    return;
                                }

                                const ids = board.subscribers.filter(subscriber => !subscriber.is_guest && !subscriber.is_view_only)
                                    .map(subscriber => subscriber.id);

                                const withTimeout = (promise, timeout) => {
                                    return Promise.race([
                                        promise,
                                        new Promise((_, reject) =>
                                            setTimeout(() => reject(new Error("Timeout exceeded")), timeout)
                                        )
                                    ]);
                                };

                                try {
                                    const mondayTag = "Monday integration";
                                    const composeTag = String(`Monday Board - ${context.data.boardId}`);
                                    const results = await withTimeout(Promise.allSettled([
                                        docSpace.createTag(mondayTag),
                                        docSpace.createTag(composeTag),
                                        docSpace.createRoom(board.name, 6),
                                    ]), 10000);

                                    const roomResult = results[2];
                                    if (!roomResult?.value?.id) {
                                        if (roomResult?.value?.status == 402) {
                                            this.enable();
                                            this.onAppReadyProcessed = false;
                                            await monday.execute("notice", {
                                                message: this.roomsQuotaError,
                                                type: "error",
                                                timeout: 10000,
                                            });
                                        } else {
                                            this.enable();
                                            this.onAppReadyProcessed = false;
                                            await monday.execute("notice", {
                                                message: this.operationError,
                                                type: "error",
                                                timeout: 10000,
                                            });
                                        }
                                        return;
                                    }

                                    const link = await docSpace.addTagsToRoom(roomResult.value.id, [mondayTag, composeTag]);
                                    if (!link?.id)
                                        throw new Error("Could not create a new room");

                                    htmx.ajax('POST', '/api/1.0/rooms', {
                                        target: 'body',
                                        swap: 'none',
                                        values: {
                                            boardId: context.data.boardId,
                                            roomId: roomResult?.value?.id,
                                            users: ids,
                                        },
                                    }).catch(async (error) => {
                                        this.enable();
                                        this.onAppReadyProcessed = false;
                                        await monday.execute("notice", {
                                            message: this.operationError,
                                            type: "error",
                                            timeout: 10000,
                                        });
                                    });
                                } catch (error) {
                                    this.enable();
                                    this.onAppReadyProcessed = false;
                                    await monday.execute("notice", {
                                        message: this.timeoutError,
                                        type: "error",
                                        timeout: 10000,
                                    });
                                } finally {
                                    await DocSpace.SDK.frames['ds-frame'].destroyFrame();
                                }
                            },
                            onAppError: (error) => {
                                if (/\(CSP\)/.test(error)) {
                                    mondaySdk().execute("notice", {
                                        message: this.cspError,
                                        type: "error",
                                        timeout: 10000,
                                    });
                                    this.enable();
                                    this.onAppReadyProcessed = false;
                                    return;
                                }
                                mondaySdk().execute("notice", {
                                        message: this.operationError,
                                        type: "error",
                                        timeout: 10000,
                                });
                                this.enable();
                                this.onAppReadyProcessed = false;
                            },
                        }
                    });
                },
                socketHandler: async (evt) => {
                    try {
                        const { boardId } = (await mondaySdk().get("context")).data;
                        const msg = JSON.parse(evt.detail.message);
                        if (msg && msg.type == "room_created" && msg["board_id"] == boardId)
                            htmx.ajax('GET', `/views/refresh?boardId=${boardId}`, { target: '#content', swap: 'innerHTML' });
                    } catch (err) {
                        console.log(err);
                    }
                },
                async init() {
                    Alpine.store('htmxEventManager').addListener("htmx:wsBeforeMessage", this.socketHandler);
                    Alpine.store('htmxEventManager').addListener('htmx:beforeSwap', (evt) => {
                        Alpine.store('htmxEventManager').removeAllListeners();
                    });
                },
            }
        }
    </script>
    <main x-data="createRoomData"
          class="min-h-screen w-full flex flex-col justify-center items-center p-4 text-center"
    >
        <div x-show="$store?.profile?.docsAdmin" class="flex flex-col justify-center items-center">
            <div style="display: none;">
                <div id="ds-frame"></div>
            </div>
            <div th:insert="~{atoms/logo/svg/room}" class="mb-5"></div>
            <div class="mb-2 text-base">
                <x-bold-text
                        classes="font-sans"
                        th:data-text="${page?.data?.creationInformation?.welcomeText}"
                        :class="[
                            $store?.profile?.dark ? 'text-white' : 'text-dark'
                        ]"
                ></x-bold-text>
            </div>
            <div class="mb-4 text-xs text-subtext">
                <x-generic-text
                        classes="font-sans"
                        th:data-text="${page?.data?.creationInformation?.createText}"
                ></x-generic-text>
            </div>
            <div class="w-[135px] h-[32px] mx-auto">
                <x-loader-button
                        th:data-text="${page?.data?.creationInformation?.buttonText}"
                        @click="createRoom"
                        classes="font-bold py-2 px-7 w-full h-full rounded-[3px] text-xs"
                        :disabled="disabled"
                        :loading="loading"
                ></x-loader-button>
            </div>
        </div>
        <div x-show="!$store?.profile?.docsAdmin" class="flex flex-col justify-center items-center">
            <div th:replace="~{atoms/logo/svg/stop}"></div>
            <div class="w-[285px] mt-5 text-center">
                <x-bold-text
                        th:data-text="${page?.data?.creationInformation?.noPermissionsText}"
                        classes="font-sans"
                        :class="[
                           $store?.profile?.dark ? 'text-white' : 'text-dark'
                        ]"
                ></x-bold-text>
            </div>
        </div>
    </main>
</div>