<div>
    <div>
        <div th:replace="~{atoms/text/bold}"></div>
        <div th:replace="~{atoms/text/generic}"></div>
    </div>
    <script>
        function docspaceManager() {
            return {
                initialized: false,
                url: '[[${page?.data?.login?.url}]]',
                roomId: '[[${page?.data?.docSpaceManager?.roomId}]]',
                accessKey: '[[${page?.data?.docSpaceManager?.accessKey}]]',
                loggedIn: true,
                socketHandler: async (evt) => {
                    const monday = mondaySdk();
                    const notification = '[[${page?.data?.docSpaceManager?.notificationText}]]';
                    const { boardId } = (await monday.get("context")).data;
                    const msg = JSON.parse(evt.detail.message);
                    if (msg && msg.type == "refresh_access_token" && msg["board_id"] == boardId)
                        await monday.execute("notice", {
                            message: notification,
                            type: "info",
                            timeout: 10000,
                        });
                },
                async init() {
                    Alpine.store('htmxEventManager').addListener("htmx:wsBeforeMessage", this.socketHandler);
                    Alpine.store('htmxEventManager').addListener('htmx:beforeSwap', (evt) => {
                        Alpine.store('htmxEventManager').removeAllListeners();
                    });
                    const { theme } = (await mondaySdk().get("context")).data;

                    if (this.initialized) return;

                    window.DocSpace.SDK.initSystem({
                        src: this.url,
                        frameId: 'ds-frame',
                        events: {
                            onAppReady: async () => {
                                try {
                                    const me = await DocSpace.SDK.frames['ds-frame'].getUserInfo();
                                    if (me?.id || this.accessKey) {
                                        this.loggedIn = true;
                                    } else {
                                        this.loggedIn = false;
                                    }

                                    this.initialized = true;

                                    window.DocSpace.SDK.initManager({
                                        src: this.url,
                                        frameId: "ds-frame",
                                        width: "100%",
                                        height: "100%",
                                        theme: theme && theme === 'light' ? "Base" : "Dark",
                                        id: this.roomId,
                                        mode: this.accessKey ? "other" : "manager",
                                        ...(this.accessKey
                                            ? { rootPath: `/rooms/share?key=${this.accessKey}&folder=${this.roomId}&searchArea=3&page=1&sortby=DateAndTime&sortorder=descending` }
                                            : {})
                                    });
                                } catch (error) {
                                    this.loggedIn = false;
                                }
                            },
                            onAppError: (error) => { this.loggedIn = false; }
                        }
                    });
                },
            };
        }
    </script>
    <main class="w-full h-screen" x-data="docspaceManager()">
        <div class="h-full w-full">
            <div id="docspace-container" class="w-full h-full" x-show="loggedIn">
                <div id="docspace" class="w-full h-full" x-show="loggedIn">
                    <div id="ds-frame" class="w-full h-full"></div>
                </div>
            </div>
            <div x-show="!loggedIn" class="w-full h-full flex flex-col justify-center items-center p-4 text-center">
                <div th:insert="~{atoms/logo/svg/room}" class="mb-6 md:mb-8 lg:mb-10"></div>
                <div class="mb-4 text-lg md:text-xl lg:text-2xl">
                    <x-bold-text
                            th:data-text="${page?.data?.docSpaceManager?.welcomeText} ?: 'Welcome to DocSpace'"
                            classes="font-sans"
                            :class="[
                                $store?.darkMode?.on ? 'text-white' : ''
                            ]"
                    ></x-bold-text>
                </div>
                <div class="mb-4 text-sm md:text-base lg:text-lg max-w-md">
                    <x-generic-text
                            th:data-text="${page?.data?.docSpaceManager?.notPublicText} ?: 'Board room is not public yet. Please login or wait for it to become public'"
                            classes="font-sans"
                    ></x-generic-text>
                </div>
            </div>
        </div>
    </main>
</div>
