<template x-component="docspace-common-form">
    <div x-data="{
                classes: '',
                init() {
                    if (typeof admin === 'undefined') {
                        this.admin = false;
                    }

                    if (typeof url === 'undefined') {
                        this.url = '';
                    }

                    if (typeof login === 'undefined') {
                        this.login = false;
                    }
                }
          }"
         :class="classes"
    >
        <div x-show="admin">
            <x-text-field
                    id="docspace_url"
                    name="url"
                    th:label="${page?.data?.settingsForm?.fields?.docSpaceLabel} ?: 'DocSpace Server Address'"
                    x-model="url"
                    th:placeholder="${page?.data?.settingsForm?.fields?.docSpacePlaceholder} ?: 'Please enter DocSpace address'"
                    pattern="https?:\/\/.*"
                    classes="mb-4"
                    :disabled="login"
            ></x-text-field>
        </div>
        <div x-show="!admin" class="hidden">
            <x-text-field
                    id="docspace_url"
                    name="url"
                    th:label="${page?.data?.settingsForm?.fields?.docSpaceLabel} ?: 'DocSpace Server Address'"
                    x-model="url"
                    th:placeholder="${page?.data?.settingsForm?.fields?.docSpacePlaceholder} ?: 'Please enter DocSpace address'"
                    pattern=".*"
                    classes="mb-4"
            ></x-text-field>
        </div>
        <x-text-field
                id="docspace_email"
                name="email"
                th:label="${page?.data?.settingsForm?.fields?.emailLabel ?: 'DocSpace Email'}"
                x-model="email"
                th:placeholder="${page?.data?.settingsForm?.fields?.emailPlaceholder ?: 'Please enter DocSpace email'}"
                classes="mb-4"
        ></x-text-field>
        <x-password-field
                id="docspace_password"
                name="docspace_password"
                th:label="${page?.data?.settingsForm?.fields?.passwordLabel ?: 'DocSpace Password'}"
                x-model="password"
                th:placeholder="${page?.data?.settingsForm?.fields?.passwordPlaceholder ?: 'Please enter DocSpace password'}"
                classes="mb-4"
        >
        </x-password-field>
    </div>
</template>