<div id="settings-container">
    <div>
        <div th:replace="~{atoms/input/base}"></div>
        <div th:replace="~{atoms/input/label}"></div>
        <div th:replace="~{atoms/button/secondary}"></div>
        <div th:replace="~{atoms/loader/spinner}"></div>
        <div th:replace="~{atoms/text/bold}"></div>
        <div th:replace="~{atoms/text/generic}"></div>

        <div th:replace="~{molecules/button/loader}"></div>
        <div th:replace="~{molecules/input/password}"></div>
        <div th:replace="~{molecules/input/text}"></div>

        <div th:replace="~{organisms/form/common}"></div>
        <div th:replace="~{organisms/form/settings}"></div>
        <div th:replace="~{organisms/information/configuration}"></div>
        <div th:replace="~{organisms/modal/confirmation}"></div>
    </div>
    <main x-data="loginAdminData" class="flex flex-col min-h-screen overflow-hidden" role="main">
        <div style="display: none;">
            <div id="ds-frame"></div>
        </div>
        <div class="w-full flex flex-col justify-center items-center py-8 overflow-y-auto no-scrollbar">
            <div class="flex justify-center items-center mb-8">
                <div class="mr-4" th:insert="~{atoms/logo/svg/monday}"></div>
                <div th:insert="~{atoms/logo/svg/refresh}"></div>
                <div class="ml-4" th:insert="~{atoms/logo/svg/onlyoffice}"></div>
            </div>
            <div class="mb-8" style="max-width: 384px; text-align: center">
                <x-generic-text
                        classes="font-sans"
                        th:data-text="${page?.data?.login?.accessText} ?: 'Monday requests access to your ONLYOFFICE DocSpace'"
                ></x-generic-text>
                <x-bold-text
                        classes="font-sans text-blue-500"
                        th:data-text="${page?.data?.login?.addressText} ?: 'docspace.server.info'"
                ></x-bold-text>
            </div>
            <form
                 x-model="modal"
                 x-modelable="confirmation"
                 class="p-8 rounded-lg shadow-lg"
                 :class="[
                      $store?.darkMode?.on ? 'bg-background-dark' : 'bg-white'
                 ]"
                 style="width: 384px; transition: border-color 0.3s ease;"
                 @submit="toggleSubmit"
                 :hx-post="path"
                 hx-swap="none"
                 hx-trigger="submit"
            >
                <x-docspace-settings-form></x-docspace-settings-form>
                <x-confirmation-modal></x-confirmation-modal>
            </form>
        </div>
    </main>
    <script>
        function loginAdminData() {
            return {
                admin: true,
                login: true,
                change: true,
                path: '/api/1.0/settings/login',
                disabled: true,
                loading: false,
                modal: false,
                confirmation: false,
                url: "[[${page?.data?.login?.url}]]",
                email: "",
                password: "",
                docsError: "[[${page?.data?.login?.docsError}]]",
                loginError: "[[${page?.data?.login?.error}]]",
                loginSuccess: "[[${page?.data?.login?.success}]]",
                setError() {
                    this.error = true;
                    this.loading = false;
                    this.disabled = false;
                },
                setSuccess() {
                    this.error = false;
                    this.loading = false;
                    this.disabled = false;
                },
                setDocSpaceReady() {
                    this.disabled = false;
                },
                toggleSubmit() {
                    this.disabled = true;
                    this.loading = true;
                },
                toggleModal() {
                    this.confirmation = !this.confirmation;
                },
                init() {
                    const timeout = setTimeout(async () => {
                        this.setError();
                        await mondaySdk().execute("notice", {
                            message: this.docsError,
                            type: "error",
                            timeout: 10000,
                        });
                    }, 6500);

                    const docSpace = window.DocSpace.SDK.initSystem({
                        src: this.url,
                        frameId: 'ds-frame',
                        events: {
                            onAppReady: async () => {
                                clearTimeout(timeout);
                                this.setDocSpaceReady();
                            },
                            onAppError: async () => {
                                this.setError();
                                await mondaySdk().execute("notice", {
                                    message: this.docsError,
                                    type: "error",
                                    timeout: 10000,
                                });
                            },
                        }
                    });

                    Alpine.store('htmxEventManager').addListener("htmx:beforeRequest", async (evt) => {
                        if (evt.detail.pathInfo.finalRequestPath !== this.path) return;

                        evt.preventDefault();
                        try {
                            const monday = mondaySdk();
                            const settings = await docSpace.getHashSettings();
                            const hash = await docSpace.createHash(this.password, settings);
                            const login = await docSpace.login(this.email, hash);
                            const me = await docSpace.getUserInfo();

                            if (login && login.url) {
                                const response = await fetch(this.path, {
                                    method: 'POST',
                                    body: JSON.stringify({
                                        "docspace_user_id": me.id,
                                        "docspace_email": this.email,
                                        "docspace_hash": hash,
                                    }),
                                    headers: {
                                        ...evt.detail.requestConfig.headers,
                                        'Content-Type': 'application/json',
                                    },
                                });

                                if (!response.ok) {
                                    this.setError();
                                    await monday.execute("notice", {
                                        message: this.loginError,
                                        type: "error",
                                        timeout: 10000,
                                    });
                                } else {
                                    this.setSuccess();
                                    await monday.execute("notice", {
                                        message: this.loginSuccess,
                                        type: "success",
                                        timeout: 10000,
                                    });
                                }
                            } else {
                                this.setError();
                            }
                        } catch {
                            this.setError();
                        }
                    });
                    Alpine.store('htmxEventManager').addListener('htmx:beforeSwap', () => {
                        Alpine.store('htmxEventManager').removeAllListeners();
                    });
                },
            }
        }
    </script>
</div>