<div>
    <div>
        <div th:replace="~{atoms/input/base}"></div>
        <div th:replace="~{atoms/input/label}"></div>
        <div th:replace="~{atoms/loader/spinner}"></div>
        <div th:replace="~{atoms/text/bold}"></div>
        <div th:replace="~{atoms/text/generic}"></div>

        <div th:replace="~{molecules/button/loader}"></div>
        <div th:replace="~{molecules/input/password}"></div>
        <div th:replace="~{molecules/input/text}"></div>

        <div th:replace="~{organisms/form/common}"></div>
        <div th:replace="~{organisms/form/login}"></div>
    </div>
    <main x-data="loginUserData" class="flex flex-col justify-center items-center min-h-screen overflow-hidden" role="main">
        <div style="display: none;">
            <div id="ds-frame"></div>
        </div>
        <div class="w-full flex flex-col justify-center items-center py-8 overflow-y-auto no-scrollbar">
            <div class="flex justify-center items-center mb-8">
                <div class="mr-4" th:insert="~{atoms/logo/svg/monday}"></div>
                <div th:insert="~{atoms/logo/svg/refresh}"></div>
                <div class="ml-4" th:insert="~{atoms/logo/svg/onlyoffice}"></div>
            </div>
            <div class="mb-8" style="max-width: 384px; text-align: center">
                <x-generic-text
                    classes="font-sans"
                    th:data-text="${page?.data?.login?.accessText} ?: 'Monday requests access to your ONLYOFFICE DocSpace'"
                ></x-generic-text>
                <x-bold-text
                     classes="font-sans text-blue-500"
                     th:data-text="${page?.data?.login?.addressText} ?: 'docspace.server.info'"
                ></x-bold-text>
            </div>
            <form class="p-8 rounded-lg shadow-lg"
                  :class="[
                      $store?.darkMode?.on ? 'bg-background-dark' : 'bg-white'
                  ]"
                  style="width: 384px; transition: border-color 0.3s ease;"
                  @submit="toggleSubmit"
                  :hx-post="path"
                  hx-swap="none"
                  hx-trigger="submit"
            >
                <x-docspace-login-form></x-docspace-login-form>
            </form>
        </div>
    </main>
    <script>
        function loginUserData() {
            return {
                admin: false,
                login: true,
                path: "/api/1.0/settings/login",
                disabled: false,
                loading: false,
                error: false,
                url: "[[${page?.data?.login?.url}]]",
                email: "",
                password: "",
                loginError: "[[${page?.data?.login?.error ?: 'Login failed'}]]",
                loginSuccess: "[[${page?.data?.login?.success ?: 'Login successful'}]]",
                setError() {
                    this.error = true;
                    this.loading = false;
                    this.disabled = false;
                },
                setSuccess() {
                    this.error = false;
                    this.loading = false;
                    this.disabled = false;
                },
                toggleSubmit() {
                    this.disabled = true;
                    this.loading = true;
                },
                init() {
                    this.monday = mondaySdk();
                    htmx.on('htmx:beforeRequest', async (evt) => {
                        if (evt.detail.pathInfo.finalRequestPath !== this.path) {
                            return;
                        }

                        evt.preventDefault();
                        try {
                            const timeout = setTimeout(() => this.setError(), 6500);
                            const frame = window.DocSpace.SDK.initSystem({
                                src: this.url,
                                frameId: 'ds-frame',
                                events: {
                                    onAppReady: async () => {
                                        try {
                                            clearTimeout(timeout);
                                            const settings = await DocSpace.SDK.frames['ds-frame'].getHashSettings();
                                            const hash = await DocSpace.SDK.frames['ds-frame'].createHash(this.password, settings);
                                            const login = await DocSpace.SDK.frames['ds-frame'].login(this.email, hash);
                                            const me = await DocSpace.SDK.frames['ds-frame'].getUserInfo();
                                            if (login && login.url) {
                                                fetch(this.path, {
                                                    method: 'POST',
                                                    body: JSON.stringify({
                                                        "docspace_user_id": me.id,
                                                        "docspace_email": this.email,
                                                        "docspace_hash": hash,
                                                    }),
                                                    headers: {
                                                        ...evt.detail.requestConfig.headers,
                                                        'Content-Type': 'application/json',
                                                    },
                                                }).then(response => {
                                                    if (!response.ok) {
                                                        this.setError();
                                                        this.monday.execute("notice", {
                                                           message: this.loginError,
                                                           type: "error",
                                                           timeout: 10000,
                                                        });
                                                    } else {
                                                        this.setSuccess();
                                                        this.monday.execute("notice", {
                                                           message: this.loginSuccess,
                                                           type: "success",
                                                           timeout: 10000,
                                                        });
                                                    }
                                                }).catch(error => {
                                                    this.setError();
                                                });
                                            } else {
                                                this.setError();
                                            }
                                        } catch (error) {
                                            this.setError();
                                        } finally {
                                            await DocSpace.SDK.frames['ds-frame'].destroyFrame();
                                        }
                                    },
                                    onAppError: (error) => this.setError()
                                }
                            });
                        } catch {
                            this.setError();
                        }
                    });
                },
            }
        }
    </script>
</div>