<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        [x-cloak] { display: none !important; }
    </style>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/monday-sdk-js/dist/main.js"></script>
    <script src="https://storage.onlyoffice.com/docspace/static/scripts/sdk/1.0.1/api.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script th:src="@{/webSocket.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/main.css}" />
    <script>
        document.addEventListener("alpine:init", () => {
            Alpine.data("root", () => ({
                rootReady: false,
                persistedUrl: '[[${page?.data?.login?.url}]]',
                persistedEmail: '[[${page?.data?.login?.email}]]',
                persistedHash: '[[${page?.data?.login?.hash}]]',
                loginError: '[[${page?.data?.login?.error}]]',
                fetchTranslated: async () => {
                    const monday = mondaySdk();
                    const { appFeature, boardId, user } = (await monday.get("context")).data;
                    let path = `/views/refresh?boardId=${boardId}`;
                    if (appFeature.type === "AppFeatureAccountSettingsView")
                        path = `/views/settings/refresh`;
                    await htmx.ajax('GET', path, {
                        target: '#content',
                        swap: 'innerHTML',
                        headers: {
                            'Accept-Language': user.currentLanguage,
                        }
                    });
                },
                async init() {
                    await this.fetchTranslated();
                    if (this.persistedUrl && this.persistedEmail && this.persistedHash) {
                            window.DocSpace.SDK.initSystem({
                                src: this.persistedUrl,
                                frameId: 'root-ds',
                                events: {
                                    onAppReady: async () => {
                                        try {
                                            await DocSpace.SDK.frames['root-ds'].login(this.persistedEmail, this.persistedHash);
                                        } catch (error) {
                                             await mondaySdk().execute("notice", {
                                                message: this.loginError,
                                                type: "error",
                                                timeout: 10000,
                                             });
                                        } finally {
                                            this.rootReady = true;
                                            await DocSpace.SDK.frames['root-ds'].destroyFrame();
                                        }
                                    },
                                    onAppError: (error) => {
                                        mondaySdk().execute("notice", {
                                            message: this.loginError,
                                            type: "error",
                                            timeout: 10000,
                                        });
                                        this.rootReady = true;
                                    }
                                }
                            });
                    } else {
                        this.rootReady = true;
                    }
                }
            }));
            Alpine.store("profile", {
                lang: "en",
                dark: false,
                async init() {
                    mondaySdk().listen("context", (ctx) => {
                        const { theme, user } = ctx.data;
                        this.dark = theme !== 'light';
                        if (user.currentLanguage != this.lang)
                            this.lang = user.currentLanguage;
                    });
                },
            });
            Alpine.store('htmxEventManager', {
                listeners: [],
                namedListeners: new Map(),
                addListener(event, handler) {
                    htmx.on(event, handler);
                    this.listeners.push({ event, handler });
                },
                removeListener(event, handler) {
                    htmx.off(event, handler);
                    this.listeners = this.listeners.filter(
                        (listener) => listener.event !== event || listener.handler !== handler
                    );
                },
                addNamedListener(name, event, handler) {
                    if (this.namedListeners.has(name))
                        return;
                    htmx.on(event, handler);
                    this.namedListeners.set(name, { event, handler });
                },
                removeNamedListener(name) {
                    const listener = this.namedListeners.get(name);
                    if (listener) {
                        htmx.off(listener.event, listener.handler);
                        this.namedListeners.delete(name);
                    } else {
                        console.warn(`No listener found with name "${name}".`);
                    }
                },
                removeAllListeners() {
                    this.listeners.forEach(({ event, handler }) => {
                        htmx.off(event, handler);
                    });
                    this.listeners = [];
                },
                removeAllNamedListeners() {
                    this.namedListeners.forEach(({ event, handler }, name) => {
                        htmx.off(event, handler);
                    });
                    this.namedListeners.clear();
                },
                clearAllListeners() {
                    this.removeAllListeners();
                    this.removeAllNamedListeners();
                }
            });
        });
    </script>
</head>
<body class="h-screen w-screen overflow-x-hidden" x-data="root">
    <div th:replace="~{atoms/loader/spinner}"></div>
    <div style="display: none;">
        <div id="root-ds"></div>
    </div>
    <div x-show="!rootReady" class="h-full w-full flex justify-center items-center">
        <x-basic-spinner classes="w-16 h-16"></x-basic-spinner>
    </div>
    <section id="content" x-show="rootReady" x-cloak class="h-full w-full" x-data="webSocketConfiguration" hx-ext="ws">
    </section>
</body>
<script>
    const initComponents = () => document.querySelectorAll('[x-component]').forEach(component => {
        const componentName = `x-${component.getAttribute('x-component')}`;
        if (!customElements.get(componentName)) {
            class Component extends HTMLElement {
                connectedCallback() {
                    this.append(component.content.cloneNode(true));
                }

                data() {
                    const attributes = this.getAttributeNames();
                    const data = {};
                    attributes.forEach(attribute => {
                        data[attribute] = this.getAttribute(attribute);
                    });
                    return data;
                }
            }
            customElements.define(componentName, Component);
        }
    });
    initComponents();
    const setAcceptLanguageHeader = (event) => {
        const lang = Alpine.store('profile').lang || navigator.language || 'en';
        event.detail.headers['Accept-Language'] = lang;
    };
    htmx.on('htmx:load', () => initComponents());
    htmx.on('htmx:configRequest', setAcceptLanguageHeader);
    window.addEventListener('beforeunload', () => {
        htmx.off('htmx:configRequest', setAcceptLanguageHeader);
        Alpine.store('htmxEventManager').clearAllListeners();
    });
</script>
</html>