<template x-component="error-text">
    <div x-data="{
                header: $el.parentNode?.getAttribute('header') || '',
                subtext: $el.parentNode?.getAttribute('subtext') || '',
                classes: $el.parentNode?.getAttribute('classes') || ''
            }"
         class="flex justify-center items-center flex-col max-w-72 mt-10"
         :class="classes"
    >
        <x-bold-text
                class="mb-2 h-1/2 overflow-hidden text-ellipsis w-full"
                classes="text-xl text-center line-clamp-2 font-sans"
                :class="[
                    $store?.darkMode?.on ? 'text-white' : ''
                ]"
                :text="header"
        ></x-bold-text>
        <x-generic-text
                class="mb-2 h-1/2 overflow-hidden text-ellipsis w-full"
                classes="text-xs text-center text-[#555F65] line-clamp-4 font-sans"
                :text="subtext"
        ></x-generic-text>
    </div>
</template>